{% extends 'base.html' %}

{% load static %}

{% block framework %}
<script src="https://cdn.tailwindcss.com"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}

{% block meta %}
<title>Marmut</title>
{% endblock meta %}

{% block content %}
<body>
    <div class="bg-gray-100">
        <div class="flex justify-center items-center h-screen mt-20">
            <div class="bg-white p-8 rounded-lg shadow-lg max-w-4xl w-full">
                <h2 class="text-xl font-bold mb-4">Create Lagu</h2>
                <form id="createLaguForm" method="POST">
                    {% csrf_token %}
                    <div class="mb-4">
                        <label class="block text-sm font-medium text-gray-700">Album:</label>
                        <input type="text" value="{{ album_name }}" disabled class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none sm:text-sm" placeholder="Nama Album">
                    </div>
                    <div class="mb-4">
                        <label class="block text-sm font-medium text-gray-700">Judul:</label>
                        <input type="text" id="judul" name="judul" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" placeholder="Tulis nama judul">
                    </div>
                    <div class="mb-4">
                        <label class="block text-sm font-medium text-gray-700">Artist:</label>
                        {% if isArtist %}
                        <select id="artist" name="artist" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" disabled>
                            <option>{{ me }}</option>
                        </select>
                        {% else %}
                        <select id="artist" name="artist" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                            <option value="">Pilih nama artist</option>
                            {% for artist in artists %}
                            <option value="{{ artist.id }}">{{ artist.nama }}</option>
                            {% endfor %}
                        </select>
                        {% endif %}
                    </div>
                    <div class="mb-4">
                        <label class="block text-sm font-medium text-gray-700 pb-1">Songwriter:</label>
                        <button id="dropdownCheckboxSongwriterButton" data-dropdown-toggle="dropdownCheckboxSongwriter" class="text-white bg-orange-700 hover:bg-orange-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-orange-700 dark:focus:ring-blue-800" type="button">Songwriter <svg class="w-2.5 h-2.5 ml-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                            </svg>
                        </button>
                        
                        <!-- Dropdown menu -->
                        <div id="dropdownCheckboxSongwriter" class="z-10 hidden w-48 bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600">
                            <ul class="p-3 space-y-3 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownCheckboxSongwriterButton">
                                {% for songwriter in songwriters %}
                                {% if isSongwriter and songwriter.nama == me %}
                                <li>
                                    <div class="flex items-center">
                                        <input id="checkbox-songwriter-{{ songwriter.id }}" type="checkbox" name="songwriter" value="{{ songwriter.id }}" class="w-4 h-4 text-orange-600 bg-gray-100 border-gray-300 rounded focus:ring-orange-500 dark:focus:ring-orange-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500" checked disabled>
                                        <label for="checkbox-songwriter-{{ songwriter.id }}" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{ songwriter.nama }}</label>
                                    </div>
                                </li>
                                {% else %}
                                <li>
                                    <div class="flex items-center">
                                        <input id="checkbox-songwriter-{{ songwriter.id }}" type="checkbox" name="songwriter" value="{{ songwriter.id }}" class="w-4 h-4 text-orange-600 bg-gray-100 border-gray-300 rounded focus:ring-orange-500 dark:focus:ring-orange-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                        <label for="checkbox-songwriter-{{ songwriter.id }}" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{ songwriter.nama }}</label>
                                    </div>
                                </li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>                
                    <div class="mb-4">
                        <label class="block text-sm font-medium text-gray-700 pb-1">Genre:</label>
                        <button id="dropdownCheckboxGenreButton" data-dropdown-toggle="dropdownCheckboxGenre" class="text-white bg-orange-700 hover:bg-orange-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-orange-700 dark:focus:ring-blue-800" type="button">Genre <svg class="w-2.5 h-2.5 ml-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                            </svg>
                        </button>
                        
                        <!-- Dropdown menu -->
                        <div id="dropdownCheckboxGenre" class="z-10 hidden w-48 bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600">
                            <ul class="p-3 space-y-3 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownCheckboxGenreButton">
                                {% for genre in genres %}
                                <li>
                                    <div class="flex items-center">
                                        <input id="checkbox-genre" type="checkbox" name="genre" value="{{ genre.nama }}" class="w-4 h-4 text-orange-600 bg-gray-100 border-gray-300 rounded focus:ring-orange-500 dark:focus:ring-orange-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                        <label for="checkbox-genre" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{ genre.nama }}</label>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                                       
                    <div class="mb-4">
                        <label class="block text-sm font-medium text-gray-700">Durasi:</label>
                        <input type="text" id="durasi" name="durasi" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" placeholder="Tulis durasi lagu (dalam menit)">
                    </div>
                    <div class="flex justify-end">
                        <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-orange-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-500">
                            SUBMIT
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    <script>
        document.getElementById('createLaguForm').addEventListener('submit', function(event) {
            event.preventDefault(); // Prevent the form from submitting immediately
            const judul = document.getElementById('judul').value.trim();
            const artist = document.getElementById('artist').value;
            const durasi = document.getElementById('durasi').value.trim();
            const songwriters = document.querySelectorAll('input[name="songwriter"]:checked').length;
            const genres = document.querySelectorAll('input[name="genre"]:checked').length;

            if (!judul) {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Judul tidak boleh kosong',
                });
                return;
            }

            if (!artist) {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Artist harus dipilih',
                });
                return;
            }

            if (songwriters < 1) {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Minimal satu songwriter harus dipilih',
                });
                return;
            }

            if (genres < 1) {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Minimal satu genre harus dipilih',
                });
                return;
            }

            if (!durasi || isNaN(durasi)) {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Durasi tidak boleh kosong dan harus berupa angka',
                });
                return;
            }

            // Show confirmation dialog
            Swal.fire({
                title: "Simpan lagu baru?",
                showDenyButton: true,
                showCancelButton: true,
                confirmButtonText: "Save",
                denyButtonText: `Don't save`
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire("Saved!", "", "success").then(() => {
                        document.getElementById('createLaguForm').submit(); // Submit the form
                    });
                } else if (result.isDenied) {
                    Swal.fire("Changes are not saved", "", "info");
                }
            });
        });
    </script>
</body>
{% include 'footer.html' %}
{% endblock content %}
