{% extends 'base.html' %}

{% load static %}

{% block framework %}
  <script src="https://cdn.tailwindcss.com"></script>
{% endblock %}

{% block meta %}
<title>Marmut</title>
{% endblock meta %}

{% block content %}
<body>
    <div class="bg-gray-100 px-5 pb-10 space-y-5">
        <div class="bg-white rounded-md shadow py-6 px-4 mt-20">
            <caption class="p-5 text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800">
                <p class="text-3xl font-bold">Daftar Lagu</p>
                <p class="mt-1 text-lg font-semibold text-gray-500 dark:text-gray-400">Akses dan kelola data lagu pada album mu!</p>
            </caption>
        </div>
        <div class="flex space-x-5">
            <!-- Simplified About Card with appropriate spacing and structure like the detailed version -->
            <div class="mr-2 p-4 bg-white rounded-md shadow w-1/4">
                <h2 class="text-3xl font-bold pb-3">About Album</h2>
                <div class="grid gap-3">
                    <div class="flex items-center">
                        <!-- Name Icon -->
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 12c2.485 0 4.5-2.015 4.5-4.5S14.485 3 12 3 7.5 5.015 7.5 7.5 9.515 12 12 12zm0 1.5c-3.04 0-9 1.525-9 4.575V21h18v-2.925c0-3.05-5.96-4.575-9-4.575z" />
                        </svg>
                        <span>{{ nama }}</span>
                    </div>
                    <div class="flex items-center">
                        <!-- Plays Icon -->
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.347a1.125 1.125 0 0 1 0 1.972l-11.54 6.347a1.125 1.125 0 0 1-1.667-.986V5.653Z" />
                          </svg>                          
                        <span>Total Lagu: {{ total_lagu }}</span>
                    </div>
                    <div class="flex items-center">
                        <!-- Downloads Icon -->
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M9 8.25H7.5a2.25 2.25 0 0 0-2.25 2.25v9a2.25 2.25 0 0 0 2.25 2.25h9a2.25 2.25 0 0 0 2.25-2.25v-9a2.25 2.25 0 0 0-2.25-2.25H15M9 12l3 3m0 0 3-3m-3 3V2.25" />
                          </svg>                          
                        <span>Total Durasi: {{ total_durasi }}</span>
                    </div>
                </div>
            </div>
            <div class="bg-white rounded-md shadow p-4 w-3/4">
                <div class="mb-4">
                    <label for="search" class="sr-only">Search</label>
                    <input type="text" id="search" class="w-full p-2 border border-gray-300 rounded-md" placeholder="Search for Judul Lagu..">
                </div>
                <div class="overflow-x-auto">
                    <table class="w-full text-sm text-center text-gray-500">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                            <tr>
                                <th scope="col" class="p-4">
                                    Judul
                                </th>
                                <th scope="col" class="py-3 px-6">Durasi</th>
                                <th scope="col" class="py-3 px-6">Total Play</th>
                                <th scope="col" class="py-3 px-6">Total Download</th>
                                <th scope="col" class="py-3 px-6">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for lagu in isi_tabel %}
                            <tr class="bg-white border-b">
                                <td class="p-4">
                                    {{ lagu.judul }}
                                </td>
                                {% if isLabel %}
                                {% else %}
                                <td class="py-4 px-6">{{ lagu.durasi }}</td>
                                {% endif %}
                                <td class="py-4 px-6">{{ lagu.total_play }}</td>
                                <td class="py-4 px-6">{{ lagu.total_download }}</td>
                                <td>
                                    <div class="flex flex-col items-center">
                                        <div>
                                            <button class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-red-500 to-orange-500 group-hover:from-pink-500 group-hover:to-orange-400 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800">
                                                <span class="relative px-5 py-2.5 text-orange-600 transition-all ease-in duration-75 bg-white rounded-md group-hover:bg-opacity-0 group-hover:text-white">
                                                    Tambah Lagu
                                                </span>
                                            </button>
                                        </div>
                                        <div>
                                            <button class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-red-500 to-red-700 group-hover:from-pink-500 group-hover:to-red-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800">
                                                <span class="relative px-5 py-2.5 font-bold text-red-500 transition-all ease-in duration-75 bg-white rounded-md group-hover:bg-opacity-0 group-hover:text-white">
                                                    Hapus
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>            
        </div>
    </div>  
</body>
{% include 'footer.html' %}
{% endblock content %}
