{% extends 'base.html' %}

{% load static %}

{% block framework %}
  <script src="https://cdn.tailwindcss.com"></script>
{% endblock %}

{% block meta %}
<title>Tambah Lagu</title>
{% endblock meta %}

{% block content %}

<body>
    <div class="container px-20 py-24 mx-auto">
        <div class="flex flex-col lg:flex-row w-10/12 lg:w-8/12 bg-white rounded-xl border-2 border-gray-200 border-opacity-60 mx-auto overflow-hidden">
            <div class="w-full py-16 px-12">
                <h2 class="text-4xl font-semibold mb-3">Tambah Lagu</h2>
                <form action="#">
                    <h3 class="text-xl font-semibold mt-5">Lagu:</h3>
                    <div class="mt-5">
                        <select class="border border-gray-400 py-1 px-2 w-full">
                            {% for song in songs %}
                            <option value="{{ song.judul_lagu }} - {{ song.nama_artist }}">{{ song.judul_lagu }} - {{ song.nama_artist }}</option>
                            {% endfor %}
                        </select>    
                    </div>
                    <div class="mt-5">
                        <button type="submit" class="w-full bg-orange-500 py-3 text-center text-white">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

  {% include 'footer.html' %}

<script>

</script>

{% endblock content %}